# Core
fastapi
uvicorn[standard]
mplfinance

# Database
psycopg2-binary
sqlalchemy

# Binance API
requests

# Feature Engineering
pandas
pandas-ta
numpy
scikit-learn

# ML Model
lightgbm

# Scheduling
apscheduler

# Environment
python-dotenv

# Model serialization
joblib
